@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

:root {
  --soft-red: hsl(7, 99%, 70%);
  --light-soft-red: hsl(7, 99%, 90%);
  --yellow: hsl(51, 100%, 49%);
  --light-yellow: hsl(51, 100%, 79%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --light-cyan: hsl(167, 40%, 64%);
  --button-background: hsl(202, 99%, 80%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

img {
  display: block;
}

.header {
  min-height: 90vh;
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.25rem;
}

.logo img {
  width: 10rem;
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 2.25rem;
}

.list-item a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.9rem;
}

.list-item button {
  background-color: var(--white);
  color: var(--very-dark-desaturated-blue);
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
}

.list-item button:hover {
  background-color: var(--button-background);
  color: var(--white);
  cursor: pointer;
}

.hamburger-button {
  display: none;
  background-color: transparent;
  padding: 0;
  border: none;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text h1 {
  color: var(--white);
  font-family: "Fraunces", sans-serif;
  letter-spacing: 0.4rem;
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

.grid-text {
  width: 60%;
  margin-inline: auto;
}

.grid-text h2 {
  font-family: "Fraunces", sans-serif;
  color: var(--very-dark-desaturated-blue);
  font-weight: 900;
  margin-bottom: 2rem;
}

.grid-text p {
  color: var(--dark-grayish-blue);
  margin-bottom: 2rem;
}

.grid img {
  width: 100%;
}

.grid a {
  text-decoration: none;
  font-family: "Fraunces", sans-serif;
  color: var(--very-dark-desaturated-blue);
  position: relative;
}

.yellow::after {
  content: "";
  position: absolute;
  bottom: 0.1rem;
  left: -0.3rem;
  right: -0.3rem;
  height: 0.4rem;
  background-color: var(--light-yellow);
  border-radius: 1rem;
  z-index: -1;
}

.yellow:hover::after {
  background-color: var(--yellow);
}

.soft-red::after {
  content: "";
  position: absolute;
  bottom: 0.1rem;
  left: -0.3rem;
  right: -0.3rem;
  height: 0.4rem;
  background-color: var(--light-soft-red);
  border-radius: 1rem;
  z-index: -1;
}

.soft-red:hover::after {
  background-color: var(--soft-red);
}

.graphic-design {
  background-image: url("./images/desktop/image-graphic-design.jpg");
  background-size: cover;
  height: 100%;
  position: relative;
}

.photography {
  background-image: url("./images/desktop/image-photography.jpg");
  background-size: cover;
  height: 100%;
  position: relative;
}

.graphic-design-text,
.photography-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.graphic-design-text h3,
.photography-text h3 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  margin-bottom: 1.75rem;
}

.graphic-design-text p,
.photography-text p {
  line-height: 1.5;
}

.graphic-design-text {
  color: var(--dark-desaturated-cyan);
}

.photography-text {
  color: var(--dark-blue);
}

.testimonials {
  padding-block: 8rem;
  width: 80%;
  margin-inline: auto;
}

.title {
  color: var(--grayish-blue);
  text-align: center;
  font-family: "Fraunces", sans-serif;
  letter-spacing: 0.3rem;
  margin-bottom: 5rem;
}

.three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.three-columns > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.client-image {
  width: 4rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}

.three-columns > div p {
  color: var(--dark-grayish-blue);
  line-height: 1.5;
  margin-bottom: 3rem;
}

.client-name {
  color: var(--very-dark-desaturated-blue);
  font-family: "Fraunces", sans-serif;
  margin-bottom: 0.75rem;
}

.client-post {
  color: var(--grayish-blue);
  font-size: 0.8rem;
}

.images {
  display: flex;
}

.image {
  flex: 1;
}

.image img {
  width: 100%;
}

.footer {
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-cyan);
}

.footer-logo {
  margin-bottom: 2rem;
}

.footer-nav {
  margin-bottom: 5rem;
}

.footer-nav .list-item a {
  color: var(--dark-moderate-cyan);
}

.footer-nav .list-item a:hover {
  color: var(--white);
}

.footer-social-nav {
  gap: 1.25rem;
}

.footer-social-nav .list-item a img:hover {
  filter: brightness(0) invert(1);
}

/* Mobile */

@media (max-width: 30rem) {
  .header {
    min-height: 60vh;
    background-image: url("./images/mobile/image-header.jpg");
  }
  .header-nav {
    display: none;
  }
  .hamburger-button {
    display: block;
  }
  .header-text h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}
